
app.name=Arquivo de configuracao

app.processo.total=5

app.processo.1.identificador=gerente1
app.processo.1.host=localhost
app.processo.1.port=3001

app.processo.2.identificador=gerente2
app.processo.2.host=localhost
app.processo.2.port=3002

app.processo.3.identificador=vendedor1
app.processo.3.host=localhost
app.processo.3.port=3003

app.processo.4.identificador=vendedor2
app.processo.4.host=localhost
app.processo.4.port=3004

app.processo.5.identificador=servidor
app.processo.5.host=localhost
app.processo.5.port=3005