
app.name=Arquivo de configuracao

app.processo.total=3

app.processo.1.identificador=p1
app.processo.1.host=localhost
app.processo.1.port=3001

app.processo.2.identificador=p2
app.processo.2.host=localhost
app.processo.2.port=3002


app.processo.3.identificador=p3
app.processo.3.host=localhost
app.processo.3.port=3003